@import "tailwindcss";

@theme {
  --color-space: #010e2e;
  --color-panel: #333b4f;
  --color-neon: #e7f611;
  --font-luckiest: var(--font-luckiest-guy), sans-serif;
  --font-reem: var(--font-reem-kufi), sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-space);
  background-image: url("/assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  font-family: var(--font-reem);
}

.character-selector::-webkit-scrollbar {
  background-color: var(--color-white);
  border-radius: 0 0 10px 10px;
}

.character-selector::-webkit-scrollbar-thumb {
  background-color: var(--color-neon);
  border-radius: 0 0 10px 10px;
}
